.background{
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url(https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-masthead.jpg);
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.grayscale{
    font-size: 100px;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    font-family: "Varela Round","Segoe UI","Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-clip: text;
    display: flex;
    justify-content: center;
    position: relative;
    top: 35vh;
    letter-spacing: 15px;
}
.main-content{
    position: relative;
    width: 100%;
    min-height: 35rem;
}
.about-grayscale{
    position: relative;
    color: #B2B2B2;
    display: flex;
    justify-content: center;
    top: 40vh;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    font-family: "Nunito", "Segoe UI","Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.get-started{
    position: relative;
    left: 45%;
    bottom: 0;
    padding: 1.25rem 2rem;
    font-size: 80%;
    text-transform: uppercase;
    border: 0;
    letter-spacing: .15rem;
    color: #fff;
    background-color: #64a19d;
    border-radius: .25rem;
    line-height: 1.5;
}
.get-started:hover{
    cursor: pointer;
}
